@import "tailwindcss";

.marquee-track {

  display: flex;
  width: max-content;
  animation: marquee 50s linear infinite;
}
.marquee-track:hover {
  animation-play-state: paused;
}

.marquee-group {
  display: flex;
  flex-shrink: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}